{{if elements.length==1}}
{{set e=elements[0]}}
<ul class="props">
    <li class="props-item">
        <span class="props-item-title">{{=i18n('@{lang#props.type}')}}</span>
        <span>{{=i18n(e.ctrl.title)}}</span>
    </li>
    {{each e.ctrl.props as p}}
        {{if p.type==props['@{spliter}']}}
        <li class="props-item-spliter"></li>
        {{else}}
        {{set data=e.props[p.key]}}
        {{if p.read}}
            {{data=p.read(data);}}
        {{/if}}
        {{if !p.ifShow||p.ifShow(e.props)}}
        <li class="props-item{{if p.dockTop}} dock-top{{/if}}">
            <span class="props-item-title">
                {{=i18n(p.tip)}}
            </span>
            {{if p.type==props['@{number}']}}
            <mx-number class="ipt" @#disabled="{{@e.props.locked}}" value="{{@data}}" max="{{=p.max}}??" step="{{=p.step}}??" fixed="{{=p.fixed}}??" min="{{=p.min}}??" mx-input="@{update.prop}({key:'{{=p.key}}',use:'value',element:{{@e}},write:{{@p.write}}})"/>
            {{else if p.type==props['@{color}']}}
            <mx-color clear="{{=p.clear}}" class="ipt" color="{{@data}}" *align="right" *disabled="{{=e.props.locked}}" *alpha="{{=p.alpha}}" mx-input="@{update.prop}({key:'{{=p.key}}',use:'color',element:{{@e}}})"/>
            {{else if p.type==props['@{boolean}']}}
            <label class="switch">
                <input class="switch-input" type="checkbox" checked="{{@e.props[p.key]}}??" mx-change="@{update.prop}({key:'{{=p.key}}',native:'checked',element:{{@e}},refresh:{{@p.refresh}}})"/>
                <i class="switch-button"></i>
            </label>
            {{else if p.type==props['@{text.area}']}}
            <textarea class="textarea ipt ta" @#disabled="{{@e.props.locked}}" mx-input="@{update.prop}({key:'{{=p.key}}',native:'value',element:{{@e}}})">{{=data}}</textarea>
            {{else if p.type==props['@{font.style}']}}
            <mx-font.style class="ipt" *disabled="{{@e.props.locked}}" *value="{{@data}}" mx-input="@{update.prop}({key:'{{=p.key}}',use:'value',element:{{@e}}})"/>{{else if p.type==props['@{font.align}']}}
            <mx-font.align class="ipt" *disabled="{{@e.props.locked}}" *value="{{@data}}" mx-input="@{update.prop}({key:'{{=p.key}}',use:'value',element:{{@e}}})"/>
            {{/if}}
        </li>
        {{/if}}
        {{/if}}
    {{/each}}
</ul>
{{else}}
<mx-vframe src="./page"/>
{{/if}}