{{let temp}}
<div class="y-axis-help" style="top:-{{=sTop}}px" id="{{=id}}_y_help" mx-contextmenu="@{prevent}()">
    {{each yHelpers as help}}
        {{set current=Math.abs(yStart)+help.mm*scale+20}}
        <div class="y-axis-help-line" style="width:{{=vWidth}}px;top:{{=current}}px;">
            <i class="iconfont y-help-line-icon" title="{{=i18n('@{lang#axis.delete.line}')}}" mx-click="@{delete.help.line}({type:'y',id:'{{=help.id}}'})">&#xe600;</i>
            <span class="y-help-line-text">{{=help.mm}}</span>
            <span class="y-help-line-move" mx-mousedown="@{drag.help.line}({type:'y',id:'{{=help.id}}',c:{{=current}}})" title="{{=i18n('@{lang#axis.move.line}')}}"></span>
        </div>
    {{/each}}
</div>
<div class="x-axis-help" style="left:-{{=sLeft}}px" id="{{=id}}_x_help" mx-contextmenu="@{prevent}()">
    {{each xHelpers as help}}
        {{set current=Math.abs(xStart)+help.mm*scale}}
        <div class="x-axis-help-line" style="height:{{=vHeight}}px;left:{{=current}}px;">
            <i class="iconfont x-help-line-icon" title="{{=i18n('@{lang#axis.delete.line}')}}" mx-click="@{delete.help.line}({type:'x',id:'{{=help.id}}'})">&#xe600;</i>
            <span class="x-help-line-text">{{=help.mm}}</span>
            <span class="x-help-line-move" mx-mousedown="@{drag.help.line}({type:'x',id:'{{=help.id}}',c:{{=current}}})" title="{{=i18n('@{lang#axis.move.line}')}}"></span>
        </div>
    {{/each}}
</div> 
<div mx-mousemove="@{show.x.line}()" mx-mouseout="@{hide.x.line}()" mx-click="@{add.x.help.line}()">
    <div class="axis-x" id="{{=id}}_x">
        <div style="width:{{=width}}px;height:100%">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{=width}} 19" style="cursor:default;">
                {{for(let i=0;i<xStart;i+=step)}}
                {{if i}}
                    {{temp=i/scale}}
                    {{if temp%space===0}}
                    <rect width="1" height="{{=hbar}}" x="{{=xStart-i)}}" y="{{=20-hbar-1}}" style="fill:{{=barColor}};"/>
                    <text x="{{=xStart-i+2}}" y="14" style="font-size:10px;fill:#999;">{{=-temp}}</text>
                    {{else}}
                    <rect width="1" height="{{=bar}}" x="{{=xStart-i}}" y="{{=20-bar-1}}" style="fill:{{=barColor}};"/>
                    {{/if}}
                {{/if}}
                {{/for}}
                {{for(let i=0;i<xEnd;i+=step)}}
                {{let temp=i/scale}}
                {{if temp%space===0}}
                <rect width="1" height="{{=hbar}}" x="{{=xStart+i)}}" y="{{=20-hbar-1}}" style="fill:{{=barColor}};"/>
                <text x="{{=xStart+i+2}}" y="14" style="font-size:10px;fill:#999;">{{=temp}}</text>
                {{else}}
                <rect width="1" height="{{=bar}}" x="{{=xStart+i}}" y="{{=20-bar-1}}" style="fill:{{=barColor}};"/>
                {{/if}}
                {{/for}}
            </svg>
        </div>
    </div>
    <div class="axis-x-line" id="{{=id}}_x_line" style="height:{{=vHeight+20}}px">
        <span class="axis-x-tip" id="{{=id}}_x_tip">-</span>
    </div>
</div>
<div mx-mousemove="@{show.y.line}()" mx-mouseout="@{hide.y.line}()" mx-click="@{add.y.help.line}()">
    <div class="axis-y" style="height:{{=vHeight}}px;" id="{{=id}}_y">
        <div style="height:{{=height}}px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 {{=height}}" style="cursor:default">
                {{for(let i=0;i<yStart;i+=step)}}
                {{if i}}
                {{temp=i/scale}}
                {{if temp%space===0}}
                <rect width="{{=hbar}}" height="1" x="{{=20-hbar}}" y="{{=yStart-i)}}" style="fill:{{=barColor}};"/>
                <text x="14" y="{{=yStart-i+2}}" style="font-size:10px;fill:#999;" transform="rotate(-90,13,{{=yStart-i}})">{{=-temp}}</text>
                {{else}}
                <rect width="{{=bar}}" height="1" x="{{=20-bar}}" y="{{=yStart-i}}" style="fill:{{=barColor}};"/>
                {{/if}}
                {{/if}}
                {{/for}}
                {{for(let i=0;i<yEnd;i+=step)}}
                {{temp=i/scale}}
                {{if temp%space===0}}
                <rect width="{{=hbar}}" height="1" x="{{=20-hbar}}" y="{{=yStart+i)}}" style="fill:{{=barColor}};"/>
                <text x="14" y="{{=yStart+i}}" style="font-size:10px;fill:#999;;" transform="rotate(-90,13,{{=yStart+i-2}})">{{=temp}}</text>
                {{else}}
                <rect width="{{=bar}}" height="1" x="{{=20-bar}}" y="{{=yStart+i}}" style="fill:{{=barColor}};"/>
                {{/if}}
                {{/for}}
            </svg>
        </div>
    </div>
    <div class="axis-y-line" id="{{=id}}_y_line" style="width:{{=vWidth+20}}px">
        <span class="axis-y-tip" id="{{=id}}_y_tip">-</span>
    </div>
</div>
<div class="axis-corner"></div>