@import "../gallery/mx-style/_vars.less";

.header-item,
.sub-item{
    width:60px;
    height:40px;
    display: grid;
    grid-template-rows: 20px 20px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    margin:0 2px;
}
.header-item-has-subs{
    grid-template-columns: 50px 10px;
}
.sub-item{
    float: left;
    border-radius: @border-radius;
}
.sub-item:hover{
    background: @color-brand-hover;
}
.header-item-more{
    display: none;
    position: absolute;
    cursor: default;
    top:100%;
    left:0;
    background: @color-brand-darken;
    width:264px;
    padding: 4px;
}
.header-item:hover{
    background: @color-brand-darken;
}
.header-item:hover .header-item-more{
    display: block;
}
.header-item-icon{
    grid-column: ~"1/2";
    grid-row: ~"1/2";
    align-self: flex-end;
}
.header-item-text{
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    grid-column: ~"1/2";
    grid-row: ~"2/3";
}
.header-item-arrow{
    font-size: 10px;
    margin-left: -10px;
    grid-row: ~"1/3";
    grid-column: ~"2/3";
}
.header-item-spliter{
    height:30px;
    width:1px;
    background: -webkit-gradient(linear, left top,left bottom, from(#fff4), color-stop(0.3, #fff),color-stop(0.7, #fff), to(#fff4));
    margin:2px 12px;
    float: left;
}
