<div class="stage-outer" id="stage_outer" mx-contextmenu="@{prevent}()" mx-mousedown="@{stage.start.drag}()" tabindex="0" mx-focusin="@{stage.active}()" mx-focusout="@{stage.deactive}()" mx-keydown="@{stage.keydown}()">
    <div class="stage-workaround">
        <div class="stage-canvas" style="min-width:{{=page.width*scale}}px;min-height:{{=page.height*scale}}px;background:{{=page.background}};{{if page.backgroundImage}}background-image:url({{=page.backgroundImage}});background-repeat:{{=page.backgroundRepeat=='full'?'no-repeat':page.backgroundRepeat}};background-size:{{if page.backgroundRepeat=='full'}}100% 100%{{else}}{{=page.backgroundWidth*scale}}px {{=page.backgroundHeight*scale}}px;{{/if}}{{/if}}" id="stage_canvas">
            {{each columns as col cIndex last}}
                <div style="flex:{{=col.width}};flex-shrink:1;overflow:hidden;{{if !last}}border-right:dotted 1px #ddd{{/if}}" col="{{=cIndex}}">
                    {{each col.elements as e}}
                    <mx-vframe class="pr" id="{{=e.id}}" src="@../elements/{{=e.type}}/designer" *element="{{@e}}" mx-mousedown="@{element.start.drag}({element:{{@e}}})"/>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
<div id="pole_{{=id}}" style="margin-top:-{{=page.height*scale+100}}px;display:none;"></div>