{{set c=elements.length}}
<i class="toolbar-spliter"></i>
<i class="iconfont toolbar-item{{if c<2}} toolbar-item-disabled{{/if}}" title="{{=i18n('@{lang#align.left}')}}" mx-click="@{align.elements}({to:'left'})">&#xe70b;</i>

<i class="iconfont toolbar-item{{if c<2}} toolbar-item-disabled{{/if}}" title="{{=i18n('@{lang#align.center}')}}" mx-click="@{align.elements}({to:'center'})">&#xe711;</i>

<i class="iconfont toolbar-item{{if c<2}} toolbar-item-disabled{{/if}}" title="{{=i18n('@{lang#align.right}')}}" mx-click="@{align.elements}({to:'right'})">&#xe70c;</i>

<i class="iconfont toolbar-item{{if c<2}} toolbar-item-disabled{{/if}}" title="{{=i18n('@{lang#align.top}')}}" mx-click="@{align.elements}({to:'top'})">&#xe70d;</i>

<i class="iconfont toolbar-item{{if c<2}} toolbar-item-disabled{{/if}}" title="{{=i18n('@{lang#align.middle}')}}" mx-click="@{align.elements}({to:'middle'})">&#xe712;</i>

<i class="iconfont toolbar-item{{if c<2}} toolbar-item-disabled{{/if}}" title="{{=i18n('@{lang#align.bottom}')}}" mx-click="@{align.elements}({to:'bottom'})">&#xe70e;</i>