<div class="dialog-backdrop{{if !removeClass}} anim-mask{{/if}}" style="z-index:{{=zIndex-1}}" id="mask_{{=id}}"></div>
<div class="scroll-cnt" style="z-index:{{=zIndex}};">
    <div class="dialog{{if !removeClass}} anim-body{{/if}}" id="body_{{=id}}" style="left:{{=left}}px;top:{{=top}}px;width:{{=width}}px;">
        <input id="focus_{{=id}}" class="focus" />
        <span class="mc-iconfont dialog-close {{= closable ? '' : 'none' }}" mx-click="@{close}()">&#xe67f;</span>
        <div class="dialog-content dialog-content-ext" id="cnt_{{=id}}">
            <div class="loading loading-ext"><span class="loading-anim"></span></div>
        </div>
    </div>
</div>