<div class="panel" style="width:{{=width}}px;{{if left===0||left}}left:{{=left}}{{else}}right:{{=right}}{{/if}}px;top:{{=top}}px;z-index:{{=zIndex}};" id="p_{{=id}}" mx-mousedown="@{update.z-index}()">
    <div class="title unselectable clearfix">
        <div class="title-text fl" title="{{=i18n('@{lang#panel.drag}')}}" mx-mousedown="@{drag.move}()">
            <i class="iconfont f12 mr2" x-html="{{=icon}}"></i>
            {{=i18n(title)}}
        </div>
        <div class="fr m-center hp100">
            <i class="iconfont title-icon{{if shrink}} r180{{/if}}" mx-click="@{toggle.height}()" title="{{=i18n(shrink?'@{lang#panel.expand.panel}':'@{lang#panel.shrink.panel}',title)}}">&#xe73a;</i>
            <i class="iconfont title-icon" mx-click="@{close}()" title="{{=i18n('@{lang#panel.close.panel}',title)}}">&#xe635;</i>
        </div>
    </div>
    <div class="content-outer" id="c_{{=id}}" style="height:{{=(shrink?0:`calc(100vh - ${height}px)`)}}">
        <div style="width:{{=resizeX?'calc(100% - 2px)':'100%'}}" class="content scrollable p-scroll hp100" mx-view="{{=view}}">
        </div>
        {{if !resizeX}}
        <div class="hbar unselectable hp100" title="{{=i18n('@{lang#panel.ew-resize}')}}" mx-mousedown="@{start.resize}({w:1})"></div>
        {{/if}}
    </div>
    <div class="foot unselectable{{if shrink||!resizeY}} none{{/if}}" title="{{=i18n('@{lang#panel.ns-resize}')}}" mx-mousedown="@{start.resize}({h:1})"></div>
</div>