<ul class="unselectable group{{if disabled}} notallowed{{/if}}">
    <li title="{{=i18n('@{lang#mx-gallery.font.style.bold}')}}" class="fl group-item iconfont{{if value.bold}} active{{/if}}" mx-click="@{set}({key:'bold'})">&#xe749;</li>
    <li title="{{=i18n('@{lang#mx-gallery.font.style.italic}')}}" class="fl group-item iconfont{{if value.italic}} active{{/if}}" mx-click="@{set}({key:'italic'})">&#xe65f;</li>
    <li title="{{=i18n('@{lang#mx-gallery.font.style.underline}')}}" class="fl group-item iconfont{{if value.underline}} active{{/if}}" mx-click="@{set}({key:'underline'})">&#xe62e;</li>
</ul>