{{set {props,ctrl,type}=element}}
<mx-vframe class="unselectable" src="{{=view}}" id="entity_{{=id}}" *props="{{@props}}" *only-move="{{@onlyMove}}" />
{{set r=props.rotate%360}}
<div id="mask_{{=element.id}}" style="left:{{=props.x}}px;top:{{=props.y}}px;width:{{=props.width}}px;height:{{=props.height}}px;{{if r}}transform:rotate({{=r}}deg);{{/if}}" class="pa unselectable{{if !fullscreen}} normal{{/if}}{{if selected&&!fullscreen&&type!='bezier'}} {{if props.locked}}locked-line{{else}}focus-line{{/if}}{{/if}}">
    {{if !fullscreen&&!props.locked}}
    {{if selected}}
    <div class="cross"></div>
    {{if count==1&&ctrl.modifier&&ctrl.modifier.rotate}}
    <div class="rotate pa" mx-mousedown="@{start.rotate}()" title="{{=i18n('@{lang#press.drag.rotate.element}')}}"></div>
    {{if ctrl.modifier}}
    {{set height=(Math.min(20,props.height-3)-4)}}
    {{set width=(Math.min(20,props.width)-4)}}
    {{set size=Math.max(Math.min(width,height)-2,0)}}
    {{width=Math.min(width,props.width-size-6)}}
    {{height=Math.min(height,props.height-size-6-3)}}
    {{set top=(props.height-height-size+3)/2}}
    {{if ctrl.modifier.width}}
    <div class="pa right" style="height:{{=Math.max(height,0)}}px;top:{{=top}}px;cursor:{{if r<=22.5||r>337.5||(r>157.5&&r<=202.5)}}ew{{else if r<=67.5||(r>202.5&&r<=247.5)}}nwse{{else if r<=112.5||(r>247.5&&r<=292.5)}}ns{{else if r<=157.5||(r>292.5&&r<=337.5)}}nesw{{/if}}-resize" title="{{=i18n('@{lang#press.drag.width.element}')}}" mx-mousedown="@{start.resize}({key:'rm'})"></div>
    {{/if}}

    {{if ctrl.modifier.height}}
    {{set left=(props.width-width-size)/2}}
    <div class="pa bottom" style="width:{{=Math.max(width,0)}}px;left:{{=left}}px;cursor:{{if r<=22.5||r>337.5||(r>157.5&&r<=202.5)}}ns{{else if r<=67.5||(r>202.5&&r<=247.5)}}nesw{{else if r<=112.5||(r>247.5&&r<=292.5)}}ew{{else if r<=157.5||(r>292.5&&r<=337.5)}}nwse{{/if}}-resize" title="{{=i18n('@{lang#press.drag.height.element}')}}" mx-mousedown="@{start.resize}({key:'mb'})"></div>
    {{/if}}

    {{if ctrl.modifier.width&&ctrl.modifier.height}}
    <div class="pa right-bottom" style="{{if size==0}}display:none;{{/if}}width:{{=size}}px;height:{{=size}}px;cursor:{{if r<=22.5||r>337.5||(r>157.5&&r<=202.5)}}nwse{{else if r<=67.5||(r>202.5&&r<=247.5)}}ns{{else if r<=112.5||(r>247.5&&r<=292.5)}}nesw{{else if r<=157.5||(r>292.5&&r<=337.5)}}ew{{/if}}-resize;" title="{{=i18n('@{lang#press.drag.width.height.element}')}}" mx-mousedown="@{start.resize}({key:'rb'})"></div>
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
</div>


{{if type=='bezier'&&selected&&!fullscreen}}
<svg style="position:absolute;pointer-events:none;overflow:visible;">
    <path d="M{{=props.startX}} {{=props.startY}} L{{=props.ctrl1X}} {{=props.ctrl1Y}} M{{=props.ctrl2X}} {{=props.ctrl2Y}} L{{=props.endX}} {{=props.endY}}" class="svg-path" />
    <circle mx-mousedown="@{start.resize.svg}({key:'start'})" r="4" cx="{{=props.startX}}" cy="{{=props.startY}}" class="svg-ctrl" />
    <circle mx-mousedown="@{drag.svg.ctrl}({key:'ctrl1'})" r="4" cx="{{=props.ctrl1X}}" cy="{{=props.ctrl1Y}}" class="svg-ctrl" />
    <circle mx-mousedown="@{start.resize.svg}({key:'end'})" r="4" cx="{{=props.endX}}" cy="{{=props.endY}}" class="svg-ctrl" />
    <circle mx-mousedown="@{drag.svg.ctrl}({key:'ctrl2'})" r="4" cx="{{=props.ctrl2X}}" cy="{{=props.ctrl2Y}}" class="svg-ctrl" />
</svg>
{{/if}}