@import "../gallery/mx-style/_vars.less";

.through{
    pointer-events: none;
}
.container{
    display: flex;
}
.mask{
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    background: #0000;
}
.focus-line,
.locked-line{
    border:solid 1px @color-brand;
}
.locked-line{
    border-color:@placeholder-color;
}
.element{
    border:dotted 1px #ddd;
    user-select: none;
}
.locked{
    border-style: dashed;
}