{{set props=element.props}}
<mx-vframe class="unselectable" src="{{=view}}" id="entity_{{=id}}" *props="{{@props}}" *scale="{{@scale}}" *only-move="{{@onlyMove}}" />
{{set r=props.rotate%360}}
<div id="mask_{{=element.id}}" style="left:{{=props.x}}px;top:{{=props.y}}px;width:{{=props.width}}px;height:{{=props.height}}px;{{if r}}transform:rotate({{=r}}deg);{{/if}}" class="pa unselectable{{if !fullscreen}} normal{{/if}}{{if selected&&!fullscreen}} {{if props.locked}}locked-line{{else}}focus-line{{/if}}{{/if}}">
    {{if !fullscreen&&!props.locked}}
    {{if selected}}
    <div class="cross"></div>
    {{if count==1}}
    <div class="rotate pa" mx-mousedown="@{start.rotate}()" title="{{=i18n('@{lang#press.drag.rotate.element}')}}"></div>
    {{set height=(Math.min(20,props.height-3)-4)}}
    {{set width=(Math.min(20,props.width)-4)}}
    {{set size=Math.max(Math.min(width,height)-2,0)}}
    {{width=Math.min(width,props.width-size-6)}}
    {{height=Math.min(height,props.height-size-6-3)}}
    {{set top=(props.height-height-size+3)/2}}
    <div class="pa right" style="height:{{=Math.max(height,0)}}px;top:{{=top}}px;cursor:{{if r<=22.5||r>337.5||(r>157.5&&r<=202.5)}}ew{{else if r<=67.5||(r>202.5&&r<=247.5)}}nwse{{else if r<=112.5||(r>247.5&&r<=292.5)}}ns{{else if r<=157.5||(r>292.5&&r<=337.5)}}nesw{{/if}}-resize" title="{{=i18n('@{lang#press.drag.width.element}')}}" mx-mousedown="@{start.resize}({key:'rm'})"></div>
    {{set left=(props.width-width-size)/2}}
    <div class="pa bottom" style="width:{{=Math.max(width,0)}}px;left:{{=left}}px;cursor:{{if r<=22.5||r>337.5||(r>157.5&&r<=202.5)}}ns{{else if r<=67.5||(r>202.5&&r<=247.5)}}nesw{{else if r<=112.5||(r>247.5&&r<=292.5)}}ew{{else if r<=157.5||(r>292.5&&r<=337.5)}}nwse{{/if}}-resize" title="{{=i18n('@{lang#press.drag.height.element}')}}" mx-mousedown="@{start.resize}({key:'mb'})"></div>
    <div class="pa right-bottom" style="{{if size==0}}display:none;{{/if}}width:{{=size}}px;height:{{=size}}px;cursor:{{if r<=22.5||r>337.5||(r>157.5&&r<=202.5)}}nwse{{else if r<=67.5||(r>202.5&&r<=247.5)}}ns{{else if r<=112.5||(r>247.5&&r<=292.5)}}nesw{{else if r<=157.5||(r>292.5&&r<=337.5)}}ew{{/if}}-resize;" title="{{=i18n('@{lang#press.drag.width.height.element}')}}" mx-mousedown="@{start.resize}({key:'rb'})"></div>
    {{/if}}
    {{/if}}
    {{/if}}
</div>