<div style="display:flex;color:{{=props.forecolor}};{{if props.background}}background:{{=props.background}};{{/if}}font-size:{{=props.fontsize}}px;height:{{=props.height}}px;letter-spacing:{{=props.ls}}px;opacity:{{=props.alpha}};margin:{{=props.margin}};padding:{{=props.padding}};{{if props.style.bold}}font-weight:bold;{{/if}}{{if props.style.italic}}font-style:italic;{{/if}}{{if props.style.underline}}text-decoration:underline;{{/if}};align-items:{{=props.align.v}};justify-content:{{=props.align.h}};overflow:hidden;">
    {{if props.text}}
        {{=props.text}}
    {{else}}
        请输入文字
    {{/if}}
</div>