<div style="position:absolute;left:{{=props.x}}px;top:{{=props.y}}px;display:flex;color:{{=props.forecolor}};{{if props.background}}background:{{=props.background}};{{/if}}font-size:{{=props.fontsize*scale}}px;height:{{=props.height}}px;letter-spacing:{{=props.ls*scale}}px;opacity:{{=props.alpha}};{{if props.style.bold}}font-weight:bold;{{/if}}{{if props.style.italic}}font-style:italic;{{/if}}{{if props.style.underline}}text-decoration:underline;{{/if}}align-items:{{=props.align.v}};justify-content:{{=props.align.h}};overflow:hidden;width:{{=props.width}}px;transform:rotate({{=props.rotate}}deg);">
    {{if props.text}}
        {{=props.text}}
    {{else}}
        {{=i18n('@{lang#elements.text.content}')}}
    {{/if}}
</div>