@import "../../gallery/mx-style/_vars.less";
.items{
    padding:5px 2px;
}
.item{
    display: flex;
    align-items: center;
    padding:0 2px;
    color:@color-primary;
    height: @input-height;
    line-height: @input-height;
    cursor: pointer;
    margin:1px 0;
}
.item:hover{
    background: @color-hover;
}
.item-selected,
.item-selected:hover{
    background:lighten(@color-brand,20%);
}
.move{
    margin:0 4px 0 2px;
    font-size: 12px;
}
.rect{
    border:solid 2px @color-brand;
}
.item--top{
    box-shadow: 0px -1px @color-brand
}
.item--bottom{
    box-shadow: 0px 1px @color-brand
}