<div class="dialog-header sticky-top">
    <h5>{{=i18n('@{lang#lib.images}')}}</h5>
</div>
<div class="dialog-body clearfix minh500">
    {{if error}}
        <div class="tc mt30 f16">{{=error.msg}}</div>
    {{else}}
    <div class="clearfix tabs">
        {{each list as category ci}}
            <div class="tabs-item{{if ci==cIndex}} tabs-active{{/if}}" mx-click="{{ci!=cIndex}}?@{change.tab}({to:{{=ci}}})">{{=category.title}}</div>
        {{/each}}
    </div>
    {{each list[cIndex].list as p}}
    <div class="fl" title="{{=p.title}}">
        <div class="item-container" mx-click="@{use}({src:'{{=p.src}}'})">
            <div class="item" style="background-image:url('{{=p.src}}')"></div>
        </div>
        <div class="tc item-title ellipsis">{{=p.title}}</div>
    </div>
    {{/each}}
    {{/if}}
</div>