<div style="position:absolute;left:{{=props.x}}px;top:{{=props.y}}px;height:{{=props.height}}px;opacity:{{=props.alpha}};width:{{=props.width}}px;transform:rotate({{=props.rotate}}deg);{{if props.radius}}border-radius:{{=props.radius}}px;{{/if}}{{if props.image}}background-image:url({{=props.image}});background-size:{{=props.imageWidth*scale}}px {{=props.imageHeight*scale}}px;background-repeat:{{=props.repeat}};background-position:{{=props.hor}}% {{=props.ver}}%{{/if}}">
    {{if !props.image}}
        <div style="display:flex;align-items:center;justify-content:center;height:100%">{{=i18n('@{lang#elements.repeat.select.image}')}}</div>
    {{/if}}
</div>